@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('./gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*
{
    font-family: 'Gilroy';
}

@keyframes slideIn {
    from {
      transform: translateY(-20px); 
      opacity: 0; 
    }
    to {
      transform: translateY(0); 
      opacity: 1; 
    }
  }
  
.bg1
{
  margin-top: 43px;
}

  .header {
    animation: slideIn 2s ease-out forwards; 
  }
  
  .header h1 {
    text-align: center; 
    position: relative;
  }
  
  /* .header h1::after {
    content: '';
    position: absolute;
    bottom: -20px; 
    left: 50%;  
    width: 80%;  
    height: 1px; 
    background-color: #E5E5E5; 
    transform: translateX(-50%); 
  } */
  
  .card-image {
    opacity: 0;
    transform: translateX(-100px);
    animation: image-animation 1s ease-out forwards;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  @keyframes image-animation {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.dd {
    opacity: 0;
    transform: translateX(-100px) rotate(45deg);
    animation: diamond-animation 1s ease-out forwards;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  @keyframes diamond-animation {
    from {
      transform: translateX(-100px) rotate(45deg);
      opacity: 0;
    }
    to {
      transform: translateX(0) rotate(45deg);
      opacity: 1;
    }
  }
  